<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="sawon1" class="sawon.Sawon" p:name="최미래" p:id="1"/>
    <bean id="sawon2" class="sawon.Sawon" p:id="2" p:name="장희수"/>
</beans>